@model IEnumerable<FIT5122.Models.ProductPackagings>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	body {
		background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://cutewallpaper.org/21/recycle-wallpapers/Best-48-Wallpaper-Recycling-on-HipWallpaper-Aluminum-Can-.jpg');
		background-repeat: no-repeat;
		background-size: 100% auto;
		color: #ffff;
	}

	.jumbotron {
		color: black;
		background: rgba(204, 204, 204, 0.5);
	}

		.jumbotron h1 {
			font-family: "Lucida Console", "Courier New", monospace;
		}
</style>
<h2>Index</h2>
<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Productname)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Packaging)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Productname)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Packaging)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Details", "Details", new { id = item.Id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.Id })
				</td>
			</tr>
		}
	</tbody>

</table>
@section Scripts {

	@Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
	@Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
	<script>
		 $(document).ready(function () {
		 $('.table').DataTable();
		 });
	</script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
	  rel="stylesheet" />
