@model IEnumerable<FIT5122.Models.Product>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	body {
		background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url('../../bgimages/background.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		color: #ffff;
	}

	h2 {
		font-weight: bold;
	}

	th {
		font-size: 18px;
	}
</style>
<h2>PRODUCT PACKAGING</h2>
<br />

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Productname)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Packaging)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Bin)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Productname)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Packaging)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Bin)
				</td>
				<td>

					@Html.ActionLink("Details", "Details", new { id = item.Id })

				</td>
			</tr>
		}
	</tbody>
</table>
@section Scripts {

	@Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
	@Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
	<script>
		 $(document).ready(function () {
		 $('.table').DataTable();
		 });
	</script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
	  rel="stylesheet" />